body {
  height: 100%;
}

.underlineHover {
  display: block;
  color: var(--content-color) !important;
  height: 100%;
}

.wrapper {
  padding-top: 9.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.regBtn {
  background-color: #a08954;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(107, 116, 121, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 25px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

.regBtn:hover {
  background-color: #8a7649;
  cursor: pointer;
}

.regBtn:active {
  transform: scale(0.95);
}

.regInp {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

.regInp:focus {
  background-color: #fff;
  border-bottom: 2px solid #a08954;
  text-align: left;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;

  animation: fadeIn ease-in 1;

  animation-fill-mode: forwards;

  animation-duration: 0.6s;
}
.fadeIn > img {
  padding: 1.75rem;
  width: 40%;
}
.fadeIn.first {
  animation-delay: 0.1s;
}

.fadeIn.second {
  animation-delay: 0.2s;
}

.fadeIn.third {
  animation-delay: 0.3s;
}

.fadeIn.fourth {
  animation-delay: 0.4s;
}

.fadeIn.fifth {
  animation-delay: 0.5s;
}

.fadeIn.sixth {
  animation-delay: 0.6s;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #a08954;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

*:focus {
  outline: none;
}
