.filters {
  padding: 2.5rem 35% 2.5rem 2.5rem;
}
.form-check-input:checked {
  background-color: #a08954;
  border-color: #a08954;
  box-shadow: #a08954;
}
.productImg{
  width: 100%;
}
.productsList{
  padding-top: 0.5rem;
}
.productsTitle{
  padding-bottom: 1rem;
}
.productBody{
  padding-bottom: 2%;
}
.productText > p{
  font-weight: 400;
  font-size: 13px;
}
.breadcrumb-item + .breadcrumb-item::before{
  color: var(--text-color);
}
.breadcrumb-item>a{
  color:rgba(255, 255, 255, 0.55);
}
.breadcrumb-item>a:hover{
  color:var(--hover-color);
}