.filters {
  padding: 2.5rem;
  padding-right: 40%;
}
.form-check-input:checked {
  background-color: #a08954;
  border-color: #a08954;
  box-shadow: #a08954;
}
.productImg{
  width: 75%;
}
.productsList{
  padding-top: 5.5rem;
}
.productBody{
  padding-bottom: 2%;
}
.productText > a{
  text-align: center;
}
.productText > p{
  font-weight: 400;
}